/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    background: linear-gradient(to right, #ff758c, #ff7eb3);
    color: white;
    text-align: center;
    overflow: hidden;
}

/* Container */
.container {
    background: rgba(255,255,255,0.15);
    padding: 40px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

/* Tombol */
button {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

/* Ending */
.ending {
    animation: fade 1s;
}

/* Hati */
.heart {
    position: absolute;
    animation: fall 5s linear;
}

/* Animasi jatuh */
@keyframes fall {
    from {
        transform: translateY(-10vh);
    }
    to {
        transform: translateY(110vh);
    }
}

/* Fade */
@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}